@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0891B2;
  --primary-dark: #0E7490;
  --primary-light: #06B6D4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-light: var(--primary-light);
}

body {
  background: #F9FAFB;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
